name: Gateway API plugin CI
on:
  push:
    branches:
      - "main"
  pull_request:
    branches:
      - "main"
env:
  GOLANG_VERSION: '1.22'

jobs:
  linting:
    name: Go code linting
    runs-on: ubuntu-latest
    steps:
      - name: Set up Go
        uses: actions/setup-go@v3
        with:
          go-version: ${{ env.GOLANG_VERSION }}

      - name: Checkout code
        uses: actions/checkout@v3.1.0

      - name: Run golangci-lint
        uses: golangci/golangci-lint-action@v3
        with:
          args: --verbose --timeout 6m

  unit-tests:
    name: Unit tests running
    runs-on: ubuntu-latest
    steps:
      - name: Set up Go
        uses: actions/setup-go@v3
        with:
          go-version: ${{ env.GOLANG_VERSION }}

      - name: Checkout code
        uses: actions/checkout@v3.1.0

      - name: Unit tests running
        run: |
          make unit-tests

  e2e-tests:
    name: E2E tests running
    runs-on: ubuntu-latest
    steps:
      - name: Set up Go
        uses: actions/setup-go@v3
        with:
          go-version: ${{ env.GOLANG_VERSION }}

      - name: Set up Kind
        uses: engineerd/setup-kind@v0.5.0
        with:
          version: "v0.23.0"
          skipClusterCreation: true

      - name: Checkout code
        uses: actions/checkout@v3.1.0

      - name: E2E tests running
        run: |
          make e2e-tests

  build:
    name: Build creation
    runs-on: ubuntu-latest
    steps:
      - name: Set up Go
        uses: actions/setup-go@v3
        with:
          go-version: ${{ env.GOLANG_VERSION }}

      - name: Checkout code
        uses: actions/checkout@v3.1.0

      - name: Build creation
        run: |
          go build -v
